p{
    background-color: aqua;
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h3{
    color: blueviolet;
    background-color: brown;
}